.navbar {
  display: flex;
  flex-direction: column;
  background-color: #2563EB;
  /* border-bottom: 1px solid #e5e7eb; */
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Top part of navbar */
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
   /* background-color: rgba(249, 250, 251, 1); */
}

/* Left (Logo) */
.logo {
  height: 50px;
  cursor: pointer;
  /* width: 80px; */
  background-color: none;
}

/* Middle (Search Bar) */
.navbar-middle {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
  border-radius:50px ;
  padding: 4px 8px;
    background-color: white;
}

.navbar-middle input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 2px 4px;
  height: 30px;
  background-color: white;
}

.search-btn {
  padding: 8px 12px;
  /* background-color: #f3f4f6; */
  border: none;
  /* border-left: none; */
  /* border-radius: 10px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: white;
}

.search-btn .search-icon:hover {
  background-color: #e5e7eb;
  border-radius: 20%;
}

.search-icon {
  height: 18px;
  width: 18px;
   background-color: white;
}

/* Right (Account Image) */
.account-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

/* Bottom part: Categories */
.navbar-bottom {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 8px 0;
  /* border-top: 1px solid #f3f4f6; */
  /* background-color: #f9fafb; */
}

.navbar-bottom a {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  cursor: pointer;
  padding: 4px 6px;
  background-color:#DDD6FE;
  border-radius: 8px;
  text-decoration: none;
}

.navbar-bottom a:hover {
  color: #2563eb;
}
.navbar-bottom a.active{
  background-color: white;
  font-size: 16px;
}
/* .navbar-middle .search-btn a{
  text-decoration: none;
} */
 @media (max-width: 992px) {
  .navbar-middle {
    max-width: 400px;
    margin: 0 10px;
  }
  .navbar-bottom a{
    font-size: 10px;
    padding: 2px 4px;
  }
}