.detailcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 16px;
}

.card {
  /* background: #fff; */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
  cursor: pointer;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}
.card:hover .thumbnail {
  /* transform: scale(1.05) rotate(1deg); */
  filter: brightness(1.1);
}

.thumbnail {
  width: 90%;
  height: 250px;
   border-radius: 12px;
  /* object-fit: cover; */
}

.card-footer {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

.channel-logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #222;
}
a{
  text-decoration: none;
}
.footer-btn {
  height: 40px;
  width: 140px;
  background-color: #3498db; /* same blue tone */
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: auto; /* pushes button to right side */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.footer-btn:hover {
  background-color: #2980b9; /* darker blue on hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
/* .footer-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */
